body {
    background-color: #111;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

header nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

#menu-toggle {
    display: none;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
}

#menu.active {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    #menu {
        display: none;
        flex-direction: column;
    }

    #menu-toggle {
        display: block;
    }

    header nav ul {
        flex-direction: column;
        width: 100%;
    }

    header nav ul li {
        text-align: center;
    }

    header nav ul li a {
        display: block;
        width: 100%;
    }
}

/* Main Section Styles */
main {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#form-section h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

#contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#contact-form input, #contact-form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#contact-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#contact-form button:hover {
    background-color: #575757;
}

#form-response {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}
